* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

li {
  text-decoration: none;
}

h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  background-color: lightblue;
  padding: 10px 0px 10px 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  
}

ul {
  list-style: none;
  
}

.nav-list li {
  display: inline-block;
  padding: 0, 30px;
  
}
  button {
    
border-radius: 5px;
}



a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 5px 10px 5px;
}

.nav-list li a{
  padding-top: 10px;
  transition: all 0.3s ease 0s;
}

head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 { 
  padding: 10px;
}

