* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.nav-list {
  text-decoration: none;
}

h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  padding: 10px 20vh 10px 20vh;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

ul {
  list-style: none;
}
